@model List<vehicleservicemanagementv2.Models.ViewModel.AddServiceModel>

@{
    ViewData["title"] = "AddService";
}
<div>
        <div class = "row">
        <div class = "col-lg-4 col-md-4 col-sm-4">
            <a onclick="window.history.back()" style="float:left; "><img src="/Images/back.png" style="width: 40px; height:40px;margin-left:2% ; margin-top:20% ;"></a>
        </div>    
        <div class = "col-lg-4 col-md-4 col-sm-4 text-center">
            <h1 class="display-2">Add Services</h1>
        </div>
        <div class = "col-lg-4 col-md-4 col-sm-4">
            <a href="/Home/Index" style="float:right;"><img src="/Images/home.png" style="width: 40px;height:40px;margin-right:2% ; margin-top:20% ;"></a>
        </div>
        </div>
        <div style="padding-bottom: 2%;">
        @using (Html.BeginForm())
        {
        <div style="width:96% ; margin-left:2% ; margin-top: 2% ;margin-bottom: 3% ; border: 3px solid grey ">
            
        
                <table class="table text-center">
                <thead class="table-dark">
                <tr>
                    <th>Service Id</th>
                    <th>Vehicle Type</th>
                    <th>Service</th>
                    <th>Cost (in &#8377;)</th>
                    <th>Time (HH:MM:SS)</th>
                    <th>Operations</th>
                </tr>
                </thead>
                <tbody>
                @for(int i = 0 ; i<Model.Count() ; i++)
                {
                    <tr>
                        <td>@Html.CheckBoxFor(model => model[i].isSelected)</td>
                        @Html.HiddenFor(model => model[i].service.ServiceId)
                        <td>@Model[i].service.ServiceId</td>
                        <td>@Model[i].service.VehicleTypeId</td>
                        <td>@Model[i].service.Name</td>
                        <td>@Model[i].service.Cost</td>
                        <td>@Model[i].service.Time</td>
                        
                     </tr>
                }
                </tbody>
                </table>
            <input type="submit" class="btn btn-lg btn-success" style="float: right; margin-right:2%;margin-top:2%" value="Add">
            
            </div>
            }
            </div>
</div>
    