@model List<vehicleservicemanagementv2.Models.Entities.Service>

@{
    ViewData ["Title"] = "Cart";
}
<div>
        <div class = "row">
        <div class = "col-lg-4 col-md-4 col-sm-4">
            <a onclick="window.history.back()" style="float:left; "><img src="/Images/back.png" style="width: 40px; height:40px;margin-left:2% ; margin-top:20% ;"></a>
        </div>    
        <div class = "col-lg-4 col-md-4 col-sm-4 text-center">
            <h1 class="display-2">Services Cart</h1>
        </div>
        <div class = "col-lg-4 col-md-4 col-sm-4">
            <a href="/Home/Index" style="float:right;"><img src="/Images/home.png" style="width: 40px;height:40px;margin-right:2% ; margin-top:20% ;"></a>
        </div>
        </div>
        
        <div style="padding-bottom: 2%;">
        @using(Html.BeginForm())
        {
        <div style="width:96% ; margin-left:2% ; margin-top: 2% ;margin-bottom: 4%; border: 3px solid grey ">
        <table class="table text-center">
                <thead class="table-dark">
                <tr>
                    <th>Service</th>
                    <th>Cost (in &#8377;)</th>
                    <th>Time (HH:MM:SS)</th>
                    <th>Operations</th>
                </tr>
                </thead>
                <tbody>
                @for(int i = 0 ; i<Model.Count() ; i++)
                {
                    
                    <tr>
                        <td>@Model[i].Name</td>
                        <td>@Model[i].Cost</td>
                        <td>@Model[i].Time</td>
                        <td><a href="/Service/Delete/@ViewBag.RcNo/@Model[i].ServiceId" class="btn btn-danger">Remove</a></td>
                        @Html.HiddenFor(model => model[i].ServiceId)
                        @Html.HiddenFor(model => model[i].VehicleTypeId)
                        @Html.HiddenFor(model => model[i].Name)
                        @Html.HiddenFor(model => model[i].Cost)
                        @Html.HiddenFor(model => model[i].Time)
                     </tr>
                }
                </tbody>
                </table>
                <br>   
        <input type="submit" class="btn btn-lg btn-success" value="Place Order" style="float: right; margin-right:2%;margin-top:2%"></input>
        </div>
        }
        </div>
        </div>