@model List<vehicleservicemanagementv2.Models.Entities.Service>

@{
    ViewData ["Title"] = "Cart";
}

        <div class = "text-center">
            <h1 class="display-4">Order Summary</h1>
        </div>
        
        <div style="width:96% ; margin-left:2% ;">
            <div class = "row">
            <div class=" col-lg-6 col-md-6 col-sm-12 card">
                <div class="card-body">
                    <h4 class="card-title text-success ">Customer Details</h4>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <p><b>Name:</b> @ViewBag.Customer.Name</p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <p><b>Phone :</b> @ViewBag.Customer.Phone</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <p><b>Email :</b> @ViewBag.Customer.Email </p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <p><b>Address :</b> @ViewBag.Customer.Address</p>
                        </div>
                    </div>   
                </div>
            </div>
            <div class=" col-lg-6 col-md-6 col-sm-12 card">
                <div class="card-body">
                    <h4 class="card-title text-success ">Vehice Details</h4>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <p><b>Rc Number :</b> @ViewBag.Vehicle.RcNo</p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <p><b>Model :</b> @ViewBag.Vehicle.Model</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <p><b>Vehicel Type :</b> @ViewBag.VehicleType </p>
                        </div>
                    </div>
                    
              </div>
            </div>
            </div>
        </div>
        <div style="margin: 1%;">
        <div style="height: 200px; overflow: auto;">    
        <table class="table text-center" style="border: 3px solid grey">
                <thead class="table-dark" style="">
                <tr>
                    <th>Service</th>
                    <th>Cost (in &#8377;)</th>
                    <th>Time (HH:MM:SS)</th>
                </tr>
                </thead>
                
                <tbody>
                @for(int i = 0 ; i<Model.Count() ; i++)
                {
                    <tr>
                        <td>@Model[i].Name</td>
                        <td>@Model[i].Cost</td>
                        <td>@Model[i].Time</td>
                     </tr>
                }
                </tbody>
                </table>
                </div>
                <br> 

                <span><p><strong>Estimated Time</strong> : @ViewBag.Estimations.Time &nbsp; &nbsp; <strong>Estimated Cost</strong> : @ViewBag.Estimations.Cost</p></span>    
        </div>
