@model vehicleservicemanagementv2.Models.Entities.Vehicle

@{
    ViewData["Title"] = "AddVehicle";
}

    <style type="text/css">
        /*body{
            background-image: url("/Images/VehicleBackground.jpg");
            background-repeat: no-repeat;
            background-size: cover; 
        }*/
    </style>
        <div class = "row">
        <div class = "col-lg-4 col-md-4 col-sm-4">
            <a onclick="window.history.back()" style="float:left; "><img src="/Images/back.png" style="width: 40px; height:40px;margin-left:2% ; margin-top:20% ;"></a>
        </div>    
        <div class = "col-lg-4 col-md-4 col-sm-4 text-center">
            <h1 class="display-4"> Add Vehicles</h1>
        </div>
        <div class = "col-lg-4 col-md-4 col-sm-4">
            <a href="/Home/Index" style="float:right;"><img src="/Images/home.png" style="width: 40px;height:40px;margin-right:2% ; margin-top:20% ;"></a>
        </div>
        </div>
        <div style="padding-left: 5%;">
            @using(Html.BeginForm()){
            @Html.ValidationSummary(true)
            <fieldset>
                <legend >Vehicle</legend>
                
                <div class="editor-label">
                    @Html.LabelFor(model => model.RcNo)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.RcNo , new{style = "width: 300px"})
                    @Html.ValidationMessageFor(model => model.RcNo)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Model)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Model , new{style = "width: 300px"})
                    @Html.ValidationMessageFor(model => model.Model)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.VehicleTypeId)
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(
                    model => model.VehicleTypeId, 
                            (IEnumerable<SelectListItem>)ViewBag.VehicleTypes,
                                "Select Vehicle Type",
                                new{style = "width: 300px"}
                    )
                    
                    @Html.ValidationMessageFor(model => model.VehicleTypeId)
                </div>
                <br>
                <span><input style="width: 150px;" type="submit" class = "btn btn-lg btn-outline-dark" value="Add" ></span>
                <span><a style="width: 150px;" class="btn btn-lg btn-outline-dark" onclick="window.history.back()">Return</a></span>
            </fieldset>

        <br>
        <h3>@ViewBag.AlreadyExists</h3>
        <br>
        }
        </div>