@model List<vehicleservicemanagementv2.Models.Entities.Vehicle>

@{
    ViewData["Title"] = "Vehicles"; 
}
        <div class = "row">
        <div class = "col-lg-4 col-md-4 col-sm-4">
            <a href="/Customer/Get" style="float:left; "><img src="/Images/back.png" style="width: 40px; height:40px;margin-left:2% ; margin-top:70% ;"></a>
        </div>    
        <div class = "col-lg-4 col-md-4 col-sm-4 text-center">
            <h1 class="display-4">Vehicles</h1>
        </div>
        <div class = "col-lg-4 col-md-4 col-sm-4">
            <a href="/Home/Index" style="float:right;"><img src="/Images/home.png" style="width: 40px;height:40px;margin-right:2% ; margin-top:70% ;"></a>
        </div>
        </div>
        <div class="card" style="padding-left:1% ;">
                <div class="card-body">
                    <h2 class="card-title text-success display-4">@ViewBag.Customer.Name</h2>
                    <h4>Phone : @ViewBag.Customer.Phone</h4>
                    <h4>Email : @ViewBag.Customer.Email</h4>
                    <h4>Address : @ViewBag.Customer.Address</h4>   
                    <a href="/Vehicle/Add/@ViewBag.Customer.CustomerId" class="card-link btn btn-success">Add Vehicle</a>
                </div>
            </div>
            <div style="width:96% ; margin-left:2% ; margin-top: 2% ; border: 3px solid grey ">
                <table class="table text-center">
                <thead class="table-dark">
                <tr>
                    <th>Rc Number</th>
                    <th>Vehicle Type</th>
                    <th>Model</th>
                    <th>Services</th>
                    <th>Vehicle Operations</th>
                </tr>
                </thead>
                <tbody>
                @for (int i = 0 ; i < @Model.Count ; i++)
                {
                    <tr>
                        <td>@Model[i].RcNo</td>
                        <td>@ViewBag.VehicleType[i]</td>
                        <td>@Model[i].Model</td>
                        <td><a href="/Service/@Model[i].VehicleTypeId/@Model[i].RcNo" class="btn btn-success">Add Services</a></td>
                        <td><a href="/Vehicle/Update/@Model[i].RcNo/@ViewBag.Customer.CustomerId" class="btn btn-success">Update</a> 
                        <a href="/Vehicle/Delete/@ViewBag.Customer.CustomerId/@Model[i].RcNo" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete @Model[i].RcNo ?')">Remove</a></td>
                    </tr>
                }
                </tbody>
                </table>
            </div>



