﻿@{
    ViewData["Title"] = "Home Page";
}
<div>
    <div class="text-center">
        <h1 class="display-4">Welcome To Vehicle Service Management</h1>
    </div>
    <div class="row" style = "padding-left:5% ; padding-right:5% ;">
        <div class = "col-lg-4 col-md-4 col-sm-12">
            <div class="card" style="box-shadow: 5px 10px 8px #888888" >
                <img class="card-img-top" style = "height:18rem" src="~/Images/AddCar.jpg" alt="Card image" />
                <div class="card-body">
                    <h4 class="card-title">Add new customer</h4>
                    <p class="card-text">Click below to add a new customer.</p>
                    <a href="/Customer/Add" class="btn btn-success">Add</a>
                </div>
            </div>
        </div>
        <div class = "col-lg-4 col-md-4 col-sm-12">
            <div class="card" style="box-shadow: 5px 10px 8px #888888" >
                <img class="card-img-top" style = "height:18rem" src="~/Images/SearchCar.jpg" alt="Card image" />
                <div class="card-body">
                    <h4 class="card-title">Seach existing customer</h4>
                    <p class="card-text">Click on the button below to search.</p>
                    <a href="/Customer/Search" class="btn btn-success">Search</a>
                </div>
            </div>
        </div>
        <div class = "col-lg-4 col-md-4 col-sm-12">
            <div class="card " style="box-shadow: 5px 10px 8px #888888" >
                <img class="card-img-top" style = "height:18rem" src="~/Images/AllCar.jpg" alt="Card image" />
                <div class="card-body">
                    <h4 class="card-title">View all the customers</h4>
                    <p class="card-text">Click on the button below to view.</p>
                    <a href="/Customer/Get" class="btn btn-success">View</a>
                </div>
            </div>
        </div>
    </div>
</div>
