@model vehicleservicemanagementv2.Models.Entities.Customer

@{
    ViewData["Title"] = "CustomerSearch";
}
    <style type="text/css">
        
       /* body{
            background-image: url("/Images/logo.png");
            background-repeat: round;
            background-size: cover; 
        }*/
    </style>
        <div class="text-center">
            <h1 class="display-4">Add New Customer</h1>
        </div>
        <div style="padding-left: 5%;">
            @using(Html.BeginForm()){
            @Html.ValidationSummary(true)
            <fieldset>
                <legend class="display-5">Customer</legend>
                <div>
                    <span>
                        <div class="editor-label required">
                        @Html.LabelFor(model => model.Name)
                        </div>
                    </span>
                    <span>
                        <div class="editor-field">
                        @Html.TextBoxFor(model => model.Name , new{style = "width: 300px"})
                        @Html.ValidationMessageFor(model => model.Name)
                        </div>
                    </span>
                </div>
                
                <div>
                    <span>
                        <div class="editor-label required">
                        @Html.LabelFor(model => model.Email)
                        </div>
                    </span>
                    <span>
                        <div class="editor-field">
                        @Html.TextAreaFor(model => model.Email , new{style = "width: 300px"})
                        @Html.ValidationMessageFor(model => model.Email)
                        </div>
                    </span>
                </div>
                <div>
                    <span>
                        <div class="editor-label required">
                        @Html.LabelFor(model => model.Phone)
                        </div>
                    </span>
                    <span>
                        <div class="editor-field">
                        @Html.TextBoxFor(model => model.Phone , new{style = "width: 300px"})
                        @Html.ValidationMessageFor(model => model.Phone)
                        </div>
                    </span>
                </div>
                <div>
                    <span>
                        <div class="editor-label required">
                        @Html.LabelFor(model => model.Address)
                        </div>
                    </span>
                    <span>
                        <div class="editor-field">
                        @Html.TextAreaFor(model => model.Address , new{style = "width: 300px"})
                        @Html.ValidationMessageFor(model => model.Address)
                        </div>
                    </span>   
                </div>
                <br>
                <span><a href="/Home/Index" class="btn btn-lg btn-outline-dark" style="width: 150px;">Return</a> </span>
                <span><input type="submit" class="btn btn-lg btn-outline-dark" style="width: 150px;" value="Add"> </span>
            </fieldset>

        <br>
        <h3>@ViewBag.AlreadyExists</h3>
        }
        </div>
        
 