@model vehicleservicemanagementv2.Models.Entities.Customer

@{
    ViewData["Title"] = "Search";
}

<h1>Delete</h1>
@using(Html.BeginForm()){
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Customer</legend>
        @if(ViewBag.DoNotExist != null)
        {
            <div class="alert alert-warning alert-dismissible">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <strong>Sorry!</strong> The customer with given phone number does not exist.
            </div>
        } 
        <div class="editor-label">
            @Html.LabelFor(model => model.Phone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Phone)
            @Html.ValidationMessageFor(model => model.Phone)
        </div>

        <br>
        <input type="submit" value="Delete">
    </fieldset>
}