@model List<vehicleservicemanagementv2.Models.Entities.Customer>

@{
    ViewData["Title"] = "Customer"; 
}
        <div class="text-center">
            <h1 class = "display-4" >Customers</h1>
        </div>
            <table class="table">
            <thead class="table-dark">
            <tr>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Address</th>
                <th>Vehicles</th>
                <th>Customer Operations</th> 
            </tr>
            </thead>
            <tbody>
                @if(ViewBag.NoSearchResult != null)
                {
                    <div class="text-center">@ViewBag.NoSearchResult</div>
                }
            @for (int i =0 ; i< @Model.Count ; i++)
            {
                <tr>
                    @Html.HiddenFor(model => model[i].CustomerId)
                    <td>@Model[i].Name</td>
                    <td>@Model[i].Phone</td>
                    <td>@Model[i].Email</td>
                    <td>@Model[i].Address</td>
                    <td><span><a href="/Vehicle/@Model[i].CustomerId" class="btn btn-success">View</a></span><span> <a href="/Vehicle/Add/@Model[i].CustomerId" class="btn btn-success">Add</a></span></td>
                    <td><span><a href="/Customer/Update/@Model[i].CustomerId" class="btn btn-success">Update</a></span><span><a href="/Customer/Delete/@Model[i].Phone" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete @Model[i].Name ?')">Remove</a></span></td>
                </tr>
            }
            </tbody>
            </table>
    