@model vehicleservicemanagementv2.Models.Entities.Customer

@{
    ViewData["Title"] = "CustomerSearch";
}
        <div class="text-center">
            <h1 class="display-4 bg-success text-white">Customer Profile</h1>
        </div>
        @if(@Model == null)
        {
            <div class="alert alert-warning alert-dismissible">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <strong>Sorry!</strong> The customer with given phone number does not exist.
            </div>
        } 
        else
        {
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-success">@Model.Name</h2>
                    <h4>Customer Id: @Model.CustomerId</h4>
                    <h4>Phone : @Model.Phone</h4>
                    <h4>Email : @Model.Email</h4>
                    <h4>Address : @Model.Address</h4>   
                    <a href="/Vehicle/@Model.CustomerId" class="card-link btn btn-secondary">View Vehicles</a>
                    <a href="#" class="card-link btn btn-secondary">Add Vehicles</a>
                    <a href="/Customer/Update/@Model.CustomerId" class="card-link btn btn-success">Update Details</a>
                    <a href="/Customer/Delete/@Model.Phone" class="card-link btn btn-success">Delete Customer</a>
                </div>
            </div>
        }   
        <a href="/Home/Index" class="btn btn-primary">Return to Main Menu</a>
    