@model vehicleservicemanagementv2.Models.ViewModel.SearchModel

@{
    ViewData["Title"] = "Search";
}
    <style type="text/css">
        /*body{
            background-image: url("/Images/AddCustomerBackground2.jpg");
            background-repeat: no-repeat;
            background-size: cover; 
        }*/
    </style>
        <div class="text-center">
            <h1 class="display-4 ">Search</h1>
        </div>
        <div style="padding: 4%;">
            @using(Html.BeginForm()){
            @Html.ValidationSummary(true)
            <fieldset>
                <legend class="display-5">Customer</legend>
            
            <div class="editor-label required">
                @Html.LabelFor(model => model.SearchParameter)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(
                    model => model.SearchParameter, 
                            new List<SelectListItem>{
                                new SelectListItem{Text = "Name" , Value = "Name"},
                                new SelectListItem{Text = "Phone" , Value = "Phone"},
                                new SelectListItem{Text = "Email" , Value = "Email"}
                            },
                            "Select Search Parameter",new{style = "width: 300px" , id = "searchparameter"}
                    ) 
                    @Html.ValidationMessageFor(model => model.SearchParameter)
            </div>
            <div class="editor-label required">
                @Html.LabelFor(model => model.SearchValue)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.SearchValue , new{style = "width: 300px" , id = "searchvalue"})
                @Html.ValidationMessageFor(model => model.SearchValue)
            </div>
            <p><strong>@ViewBag.ValidationError</strong></p>
            <br>
            <span><a href="/Home/Index" class="btn btn-lg btn-outline-dark" style="width: 150px;">Return</a> </span>
            <span><input type="submit" class="btn btn-lg btn-outline-dark" style="width: 150px;" value="Search"> </span>
            </fieldset>
            }
        </div>



    
        
    
